* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  background-color: #fac259;
  height: 4rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: space-between;
  margin-top: auto;
}
